<%= form_with model: upload, local: true, class: 'upload-form' do |form| %>
  <div class="form-container">
    <div class="field">
      <%= form.file_field :files, multiple: true, direct_upload: true, required: true %>
      <%= form.label :files, '', class: 'form-label' do %>
        <span><i class="icon ion-ios-cloud-upload"></i> click here to select files</span>
      <% end %>
    </div>
    <div class="actions">
      <%= form.button :submit, class: "btn upload-btn" do %>
        <i class='icon ion-ios-cloud-upload'></i> Upload
      <% end %>
    </div>
  </div>
  <div id="selected-files"></div>
<% end %>
