<%= form_with(model: upload, local: true) do |form| %>
  <div class="field">
    <%= form.file_field :files, multiple: true, direct_upload: true, required: true %>
    <%= form.label :files, '', class: 'icon ion-ios-cloud-upload' do %>
      <span>click the icon to select files</span>
    <% end %>
  </div>
  <div id="selected-files"></div>

  <div class="actions">
    <%= form.submit "Upload", class: "btn upload-btn" %>
  </div>
<% end %>
